* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  background-color: transparent;
  width: 100%;
  height: 1fr;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0745ff;
}
