header {
  grid-column: col-start 2 / span 10;
  grid-row: 1;
  padding-block: 5px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: 95% 4%;
  background-color: #fff;
  *margin-block: 10%;
  display: flex;
  align-items: center;
  *justify-content: flex-end;
  height: 700px;
}

.nameGroup{
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameGroup .MyName label{
  font-size:40px;
  *font-weight: 600;
  font-family: 'Monoton', cursive;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-family: 'Gugi', cursive;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Pacifico', cursive;


}

.Header-divLogo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.Header-divLogo-h1 {
  font-family: "Capriola", sans-serif;
  font-size: 50px;
  color: #14243c;
  cursor: default;
}

.Header-divLogo-h1:hover {
  text-shadow: 0 0 0.1em #f1c40f, 0 0 0.1em #f1c40f, 0 0 0.1em #f1c40f;
}

.Header-divNav {
  background-color: blue;
}

.logoWeb{
  width: 200px;
}