main {
  grid-column: col-start 2 / span 10;
  grid-row: 2;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}


.up {
  animation: up 1s;
}

@keyframes up {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom {
  animation: bottom 1s;
}

@keyframes bottom {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.left {
  animation: left 1s;
}

@keyframes left {
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
  }
}

.right {
  animation: right 1s;
}

@keyframes right {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

.Blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000069;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  display: none;
}

.Blur .Navigation-buttonMenu {
  top: 3%;
}

.Blur .Navigation-buttonMenu:active {
  border: 3px solid #f1c40f;
}

.Blur-container {
  min-height: 80%;
  max-height: 90%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.Blur-container-img {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

@media screen and (max-width: 1345px) {
  .Main-container-card-textRight,
  .Main-container-card-textleft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block-end: 50px;
  }

  .Main-container-card-textRight:hover .Main-container-card-contentImg-img,
  .Main-container-card-textleft:hover .Main-container-card-contentImg-img {
    height: 80%;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
  }
}
