div.suggestionsFollow {
  height: auto;
  width: 100%;
  min-height: 70px;

}

div.cardUser {
  width: 95%;
  height: 65px;
  margin: 10px auto;
  @include rounded_border(95%, 60px, map-get($radiusSize, _medium));


  &:hover{
    @include shadowBelow(map-get($shade, _gray));
    border: 0.1px solid map-get($shade, _gray);
  }


  div.informationStream{
    bottom: 0;
    @include rounded_border(100%, 65px, map-get($radiusSize, _medium));
    left: 0;
    margin: auto;
    div.photo{
        margin-left: 6px;
        margin-top: 3px;
    }
  }
}


div.followSuscr{
  width: 90%;
  height: 20px;
  position: relative;
  bottom: 3px;
  right: 5px;
  background-color: transparent;
  @include position_left;
  overflow: hidden;
}


