<section class="containerDataForm">
  <form class="contentDataForm">
    <div class="cotainerTitle">
      <h3>Subir Evidencia</h3>
    </div>
    <div class="sectionForm">
      <label>numero de tramite: </label>
      <input type="number" min="0" />
    </div>
    <div class="sectionForm">
      <label>Banco: </label>
      <input type="text" />
    </div>
    <div class="sectionForm">
      <label>Fecha de pago: </label>
      <input type="date" />
    </div>
    <div class="sectionForm">
      <label>valor de pago $: </label>
      <input type="number" min="1" />
    </div>
    <div class="sectionFormImg">
      <label class="inputDocument"
        >subir comprobante <input type="file" />
        <img class="inputImg" src="../../public/icons/uploadDocument.png" />
      </label>
      <label class="nameInputFile">hola.PDF</label>
    </div>
    <div class="btnForm">
      <button class="btnSave">guardar</button>
      <button class="btnTrans">cancelar</button>
    </div>
  </form>
</section>
