<section class="urbanization">
  <!--TITLE: SIGNIFICADO DE CADA COLOR-->
  <div class="colorMeaning">
    <label class="colorFreeLabel">Residencia sin libre</label>
    <label class="colorPaidLabel">Residencia pagada</label>
    <label class="colorPendingLabel">Residencia pendiente de pagar</label>
    <label class="colorDelayedLabel">Residencia atrazada de pagar</label>
    <label class="colorUrbanizatioLabel">Area de recreacion</label>
    <label class="colorPavementLabel">Pavimento</label>
  </div>

  <!--TITLE: RESIDENCIAS-->
  <div class="contentUrbanization">
    <!--NOTE: POSICION DE RESIDENCIA TOP-->
    <div class="houses warp topHouses">
      <div class="house homeStatusPending">
        <label class="locationName" onclick="infoResident()"> I </label>
      </div>
      <div class="house homeStatusDelayed">
        <label class="locationName">2</label>
      </div>
      <div class="house homeStatusPaid">
        <label class="locationName">3</label>
      </div>

      <div class="house">
        <label class="locationName" onclick="registerResident()">r</label>
      </div>
    </div>

    <!--NOTE: POSICION DE RESIDENCIA LEFT-->
    <div class="houses warp leftHouses">
      <div class="house homeStatusPending">
        <label class="locationName">1</label>
      </div>
      <div class="house homeStatusDelayed">
        <label class="locationName">2</label>
      </div>
      <div class="house homeStatusPaid">
        <label class="locationName">3</label>
      </div>
    </div>

    <!--NOTE: POSICION DE RESIDENCIA CENTER-->
    <div class="houses warp centerHouses">
      <div class="urbanizationArea">
        <label class="locationName">Park</label>
      </div>

      <div class="house homeStatusPending">
        <label class="locationName">1</label>
      </div>
      <div class="house homeStatusDelayed">
        <label class="locationName">2</label>
      </div>
      <div class="house homeStatusPaid">
        <label class="locationName">3</label>
      </div>
    </div>

    <!--NOTE: POSICION DE RESIDENCIA RIGHT-->
    <div class="houses warp rightHouses">
      <div class="house homeStatusPending">
        <label class="locationName">1</label>
      </div>
      <div class="house homeStatusDelayed">
        <label class="locationName">2</label>
      </div>
      <div class="house homeStatusPaid">
        <label class="locationName">3</label>
      </div>
    </div>

    <!--NOTE: POSICION DE RESIDENCIA BOTTOM-->
    <div class="houses wrap bottomHouses">
      <div class="house homeStatusPending">
        <label class="locationName">1</label>
      </div>
      <div class="house homeStatusDelayed">
        <label class="locationName">2</label>
      </div>
      <div class="house homeStatusPaid">
        <label class="locationName">3</label>
      </div>
    </div>
  </div>
</section>
