<div class="contentInfHouse" id="informationResident">
  <div class="cotainerTitle">
    <h3>informacion de residencia</h3>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> residente </label>
    <label class="infoUser"> isaac antepara </label>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> mazana </label>
    <label class="infoUser"> 1969 </label>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> villa </label>
    <label class="infoUser"> 10 </label>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> telefono </label>
    <label class="infoUser"> 098888888 </label>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> email de resisndente </label>
    <label class="infoUser"> user@gmail.com </label>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> cedula </label>
    <label class="infoUser"> 099999999 </label>
  </div>
  <div class="infHouseUser">
    <label class="infoTitel"> empezo a vivir en la casa</label>
    <label class="infoUser"> 22/5/2022 </label>
  </div>
  <div class="containerBtn">
    <button class="btnSave" onclick="residenceRateTable()">Alicuotas</button>
    <button class="btnTrans" onclick="closeBoxResident()">Cerrar</button>
  </div>
</div>
