<div class="containerTable">
  <table class="table">
    <tr class="tableHeader">
      <th class="textHdrTable">año</th>
      <th class="textHdrTable">Mes</th>
      <th class="textHdrTable">Fecha de pago</th>
      <th class="textHdrTable">valor</th>
      <th class="textHdrTable">estado</th>
      <th class="textHdrTable">verificar</th>
      <th class="textHdrTable">evidencia</th>
    </tr>

    <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr>
    <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr>  <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr> <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status paidStatus">Pagado</td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/ok.png" />
      </td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/download.png"
        />
      </td>
    </tr>
    <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status pendingStatus">pendiente</td>
      <td class="textBdTable">
        <img
          class="imgBdTable"
          src="../../public/icons/checklist.png"
        />
      </td>
      <td class="textBdTable">
        <img class="imgBdTable" src="../../public/icons/upload.png" />
      </td>
    </tr>
    <tr class="tableBody">
      <td class="textBdTable">2022</td>
      <td class="textBdTable">6</td>
      <td class="textBdTable">30/12/2021</td>
      <td class="textBdTable">$10000</td>
      <td class="textBdTable status delayedStatus">retraso</td>
      <td class="textBdTable"></td>
      <td class="textBdTable"></td>
    </tr>
  </table>
</div>