<section class="containerDataForm">
  <form class="contentDataForm">
    <div class="cotainerTitle">
      <h3>verificar comprobante</h3>
    </div>
    <div class="contentTwoInput">
      <div class="sectionForm">
        <label>mazana:</label>
        <input type="number" min="0" />
      </div>
      <div class="sectionForm">
        <label>villa:</label>
        <input type="number" min="0" />
      </div>
    </div>

    <div class="sectionForm">
      <label>numero de tramite: </label>
      <input type="number" min="0" />
    </div>
    <div class="sectionForm">
      <label>Banco: </label>
      <input type="text" />
    </div>
    <div class="sectionForm">
      <label>Fecha de pago: </label>
      <input type="date" />
    </div>
    <div class="sectionForm">
      <label>valor de pago $: </label>
      <input type="number" min="1" />
    </div>
    <div class="sectionFormImg">
      <label class="inputDocument"
        >comprobante <input type="file" />
        <img class="inputImg" src="../../public/icons/downloadDocument.png" />
      </label>
      <label class="nameInputFile">hola.PDF</label>
    </div>

    <div class="sectionFormImg voucherVerification">
      <label class="inputDocument">verificacion</label>
      <img class="inputImg" src="../../public/icons/available.png" alt="hola" />
    </div>

    <div class="btnForm">
      <button class="btnSave">guardar</button>
      <button class="btnTrans">cancelar</button>
    </div>
  </form>
</section>
