.sectionFriend{
    background-color: transparent;
    width: 100%;
    height: 400px;
}

.friendsAll{
    background-color: transparent;
    overflow-x: scroll;
    height: 365px;
}

.cardFriend{
    background-color: #fff;
    display: inline-flex;
    padding: 5px;
    margin: 0 5%;
    margin-top: 10px;
    @include rounded_border(90%, auto, 10px);
    .infoMusic{
        width: 75%;
        margin: 0 2px;
        background-color: transparent;
    }

    .contentImgProfile{
        @include rounded_border(30px, 30px, 15px);
        .imgProfile{
            @include rounded_border(30px, 30px, 15px);
        }
    }
    .nameMusic{
        font-size: 15px;
    }
    .btnPlay{
        @include rounded_border(30px, 30px, 15px);
        
    }

    .icon{
        @include rounded_border(20px, 20px, 10px);
    }
}

.sectionPremium{
    background-image: radial-gradient(circle at 50% -20.71%, #ffcc00 0, #fad400 6.25%, #e6db00 12.5%, #d0e100 18.75%, #b8e71c 25%, #9feb34 31.25%, #81f04a 37.5%, #5cf35f 43.75%, #0df675 50%, #00f88b 56.25%, #00faa2 62.5%, #00fcba 68.75%, #00fdd1 75%, #00fde9 81.25%, #00fdff 87.5%, #00fdff 93.75%, #00fcff 100%);
    margin: auto;
    @include rounded_border(245px, 245px, 20px);
    padding: 5px;
    @include position_column;
    label{
        font-family: 'Segoe UI';
        color: #FFF;
        font-weight: bold;
        font-size: 45px;
    }

    button{
        position: relative;
        left: 50px;
        background-color:#fff;
        font-weight: bold;
        border: none;
        text-align: center;
        @include rounded_border(100px, 30px, 20px);
        margin: auto;
        font-family: 'Segoe UI';
    }
}