//TITLE:FONTS
$fontSize: (
  _mega: 25px,
  _big: 20px,
  _medium: 15px,
  _small: 12px,
);

$fontColor: (
  _mineShaft: #3a3a3a,
  _white: #fff,
);

$fontWeight: (
  _mega: 850,
  _big: 800,
  _medium: 750,
  _small: 700,
);

//TITLE:BORDER
$radiusSize: (
  _mega: 25px,
  _big: 20px,
  _medium: 15px,
  _small: 10px,
  _nano: 5px,
);

$borderSize: (
  _mega: 4px,
  _big: 3px,
  _medium: 2px,
  _small: 1,
);

$borderColor: (
  _mineShaft: #252424,
  _white: #c6c3c3,
);

//TITLE:COLORS
$transparent: (
  _black: rgba(37, 36, 36, 0.236),
);

$color:(
  _gray:rgb(212, 207, 207)
)