//TITLE:FONTS
$fontSize: (
  _mega: 25px,
  _big: 20px,
  _medium: 15px,
  _small: 12px,
);

$fontColor: (
  _mineShaft: #3a3a3a,
  _white: #fff,
  _black: #000,
);

$fontWeight: (
  _mega: 850,
  _big: 800,
  _medium: 750,
  _small: 700,
);

//TITLE:BORDER
$radiusSize: (
  _mega: 25px,
  _big: 20px,
  _medium: 15px,
  _small: 10px,
  _nano: 5px,
);

$borderSize: (
  _mega: 4px,
  _big: 3px,
  _medium: 2px,
  _small: 1,
);

$borderColor: (
  _mineShaft: #252424,
  _white: #c6c3c3,
  _blue: #0055ff,
);

//TITLE:COLORS
$transparent: (
  _black: rgba(37, 36, 36, 0.354),
);

$color:(
  _gray:rgb(212, 207, 207),
  _blue: #0055ff,
  _black: #000,
  _eilish:#0fee7e,
);

$shade:(
  _gray: gray,
);

$gradientColor:(
  _white:radial-gradient(
    circle at 49.65% 49.65%,
    #ffffff 0,
    #ffffff 16.67%,
    #fffffe 33.33%,
    #f5efef 50%,
    #d9dfdf 66.67%,
    #c1d1cf 83.33%,
    #adc5bf 100%
  ),
);