body {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0; }

.left, .right {
  background-color: transparent;
  height: 585px;
  width: 25%;
  overflow-y: scroll;
  margin: 5px; }

.center {
  width: 50%;
  height: 100%;
  background-color: transparent; }
  .center div.contentCenter {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: auto;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    padding-top: 30px; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 50px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: transparent; }

.history {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 80px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.contentHTitle {
  color: black;
  font-family: Segoe UI;
  margin: 0; }

.contentHistory {
  background-color: transparent;
  height: 65px;
  margin: 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  position: relative;
  bottom: 5px; }

.photo {
  background-color: transparent;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  margin: 0 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 2px solid #df1937;
  padding: 2px; }
  .photo img {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 45px;
    height: 48px;
    border-radius: 15px; }

/*
button.btnScroll{
  float: left;
  position: static;
}

button.scrollDiv{
  float: left;
  position: static;
}*/
div.title {
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 5px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  div.title h3 {
    color: #000;
    font-family: "Segoe UI";
    margin: 0;
    padding: 0; }

div._popularT {
  position: relative;
  bottom: 10px; }

div.popular {
  background-color: transparent;
  width: 100%;
  height: 450px;
  border-radius: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  position: relative;
  bottom: 20px; }

.userPost {
  border-radius: 20px;
  background-color: transparent;
  padding: 0;
  margin: 0 5px;
  width: 47%;
  height: 400px;
  box-shadow: 5px 5px 5px #c6c3c3; }

.information {
  border-radius: 15px;
  width: 95%;
  height: 50px;
  border: none;
  backdrop-filter: blur(1px);
  margin: auto;
  margin: 0;
  float: left;
  left: 3%;
  position: relative;
  bottom: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 36, 36, 0.354); }
  .information .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 15px;
    color: #fff;
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 20px;
    bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    font-family: "Segoe UI";
    font-size: 15px; }
  .information .usernamePost {
    width: 250px;
    background-color: transparent;
    position: relative;
    top: 10px;
    right: 85px;
    font-family: "Segoe UI";
    font-size: 12px;
    color: #fff; }
  .information .photoUser {
    width: 90px;
    height: 40px;
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    left: 10px;
    border: 2px solid #0055ff; }
    .information .photoUser img {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none; }

.fileUser {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 49.65% 49.65%, #ffffff 0, #ffffff 16.67%, #fffffe 33.33%, #f5efef 50%, #d9dfdf 66.67%, #c1d1cf 83.33%, #adc5bf 100%);
  overflow: hidden; }

.contentImagen,
.contentVideo {
  width: 100%;
  max-height: 400px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

/*
.description {
  @include position_center;
  @include rounded_border(90%, 90px, map-get($radiusSize, _small));
  backdrop-filter: blur(5px);
  float: right;
  position: relative;
  bottom: 145px;
  right: 5%;
  padding: 0 1px;

  ::-webkit-scrollbar {
    @include rounded_border(2px, 2px, 50px);
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: map-get($radiusSize, small);
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: map-get($radiusSize, small);
    background-color: map-get($color, _blue);
  }
  p {
    margin: 0;
    padding: 0;
    color: map-get($fontColor, _black);
    @include rounded_border(100%, 90px, map-get($radiusSize, _small));
    overflow-y: scroll;
    font-family: "Segoe UI";
    font-size: map-get($fontSize, _medium);
  }
}
*/
div.topN {
  width: 80px;
  height: 35px;
  border-radius: 10px;
  background-color: #0fee7e;
  font-family: "Segoe UI";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px; }

.listStreaming {
  width: 100%;
  height: 550px;
  border-radius: 15px;
  margin: auto;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  bottom: 5px;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(10, 45%);
  grid-gap: 10px; }

div._listStreamT {
  margin-top: 5px;
  bottom: 15px; }

div.stream {
  background-color: transparent;
  height: 250px;
  border-radius: 15px;
  padding: 3px; }
  div.stream:hover {
    box-shadow: 5px 5px 5px #c6c3c3;
    border: 1px solid #c6c3c3; }

div.imagStream {
  background-image: radial-gradient(circle at 49.65% 49.65%, #ffffff 0, #ffffff 16.67%, #fffffe 33.33%, #f5efef 50%, #d9dfdf 66.67%, #c1d1cf 83.33%, #adc5bf 100%);
  margin: auto;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden; }
  div.imagStream img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
    position: relative;
    margin: auto;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }

div.informationStream {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  div.informationStream .photo {
    padding: 0;
    margin: 0;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 10px; }
    div.informationStream .photo img {
      width: 45px;
      height: 45px;
      border-radius: 10px;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none; }
  div.informationStream .descripUser {
    display: flex;
    flex-direction: column;
    width: 300px;
    float: right;
    position: relative;
    bottom: 44px;
    left: 50px;
    font-family: 'Segoe UI';
    font-size: 15px; }
    div.informationStream .descripUser p {
      margin: 0;
      padding: 0;
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70%; }
      div.informationStream .descripUser p::first-letter {
        text-transform: capitalize; }
    div.informationStream .descripUser label {
      width: 70%;
      font-weight: 700; }

.tagStream {
  position: relative;
  bottom: 30px;
  height: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: left; }
  .tagStream label {
    background-color: rgba(37, 36, 36, 0.354);
    text-align: center;
    padding: 3px;
    font-family: 'Segoe UI';
    font-size: 12px;
    margin: 0 2px;
    border-radius: 10px;
    color: #000; }
    .tagStream label:active {
      background-color: transparent; }
    .tagStream label::first-letter {
      text-transform: capitalize; }
