body {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0; }

.contentLeft, .contentRight {
  background-color: transparent;
  height: 585px;
  width: 25%;
  overflow-y: scroll;
  margin: 5px; }

.contentCenter {
  width: 50%;
  height: 100%;
  background-color: transparent; }

.contentRight {
  background-color: transparent; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 50px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #d4cfcf; }

.history {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 80px; }

.contentHTitle {
  color: black;
  font-family: Segoe UI;
  margin: 0; }

.contentHistory {
  background-color: transparent;
  height: 65px;
  display: flex;
  align-items: center;
  overflow-x: scroll; }

.photo {
  background-color: transparent;
  width: 80px;
  height: 50px;
  border-radius: 20px;
  margin: 0 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 2px solid #df1937;
  padding: 2px; }
  .photo img {
    width: 45px;
    height: 48px;
    border-radius: 15px; }

div.popular {
  background-color: red;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }

div.contentPopular {
  background-color: blue;
  width: 50%;
  height: 325px;
  border-radius: 15px;
  margin: auto 5px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column; }
  div.contentPopular img.postImg {
    width: 100%;
    height: 325px;
    border-radius: 15px; }

div.title {
  margin: 0;
  padding: 0;
  background-color: gray; }

div.infoUser {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: green;
  margin: 3px auto;
  padding: 0;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  float: inline-start;
  position: relative;
  bottom: 50px; }
  div.infoUser div.photo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none; }
    div.infoUser div.photo img {
      width: 40px;
      height: 40px;
      border-radius: 10px; }
  div.infoUser label.fullName {
    position: relative;
    bottom: 10px; }
  div.infoUser label.userName {
    position: relative;
    top: 10px;
    right: 70px; }

div.post {
  background-color: yellow;
  position: relative;
  bottom: 50px; }

/*
.userPost {
  border-radius: map-get($radiusSize, _big);
  background-color: transparent;
  padding: 0;
  margin: auto;
  width: 50%;
  height: 325px;
  /*box-shadow: 5px 5px 5px $leftoverBoxDark; 
}

.information {
  border-radius: map-get($radiusSize, _mega);
  width: 80%;
  height: 40px;
  border: none;
  backdrop-filter: 5px;
  margin: auto;
  //border: 2px solid $boderBlurBox;
  float: left;
  left: 20%;
  position: relative;
  bottom: 320px;
  background-color: blue;
  @include position_center;

  .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 57px;
    color: white;
  }

  .usernamePost {
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 78px;
    color: wheat;
  }

  .photoUser {
    @include rounded_border(40px, 40px, map-get($radiusSize, _big));
    background-color: black;
    @include position_centerColumn;
    //@include notUnderline;
    overflow: hidden;
    position: relative;
    top: 5px;
    left: 10px;

    img {
      width: 100%;
    }
  }
}

.fileUser {
  width: 100%;
  height: 325px;
  border-radius: map-get($radiusSize, _big);
  @include position_center;
  background: black;
  border: 1px solid red;
  overflow: hidden;
}

.contentImagen,
.contentVideo {
  width: 100%;
  height: 325px;
}

.interactionPost {
  @include position_center;
  @include rounded_border(60%, 40px, map-get($radiusSize, _mega));
  backdrop-filter: 5px;
  background-color: red;
  //border: 2px solid $boderBlurBox;
  float: right;
  //padding: 0 5px;
  position: relative;
  bottom: 105px;
  right: 20%;
}
*/
