div.suggestionsGames {
  height: auto;
  width: 100%;
  min-height: 70px;
  padding-bottom: 10px;
  background-color: transparent;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-gap: 25px;
  padding-left: 20px;
  padding-top: 5px;

}

div.cardGame {
  height: 130px;
  width: 130px;
  border-radius: map-get($radiusSize, _small);
  background-image: map-get($gradientColor, _white);
  overflow: hidden;
  padding: 0;
  border: 1px solid map-get($shade, _gray);
  box-shadow: 5px 5px 5px map-get($shade, _gray);
  @include position_column;


  div.topN {
    left: 67%;
    bottom: 130px;
    backdrop-filter: blur(2px);
    background-color: map-get($transparent, _white);
    border-radius: 0;
    border-bottom-left-radius: map-get($radiusSize, _small);
    border-bottom-right-radius:  map-get($radiusSize, _small);
    border-top-right-radius: map-get($radiusSize, _small);
    label {
      color: map-get($fontColor, _white);
      font-weight: map-get($fontWeight, _nano);
    }
  }
}

div.previewImgGame {
  @include rounded_border(130px, 130px, map-get($radiusSize, _small));
  @include no_underline_copy;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  margin: 0;
}
img.imgGame {
  @extend div.previewImgGame;
}
