@import "../adstract/mixis.scss";
div.title {
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 5px;
  @include no_underline_copy;
 
  h3 {
    color: map-get($fontColor, _black);
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
  }
}

div._popularT{
  position: relative;
  bottom: 10px;
}

div.popular {
  background-color: transparent;
  @include rounded_border(100%, 450px, map-get($radiusSize, _medium));
  margin: 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  position: relative;
  bottom: 20px;
}


.userPost {
  border-radius: map-get($radiusSize, _big);
  background-color: transparent;
  padding: 0;
  margin: 0 5px;
  width: 47%;
  height: 400px;
  box-shadow: 5px 5px 5px map-get($borderColor, _white);
}

.information {
  border-radius: map-get($radiusSize, _medium);
  width: 95%;
  height: 50px;
  border: none;
  backdrop-filter: blur(1px);
  margin: auto;
  margin: 0;
  float: left;
  left: 3%;
  position: relative;
  //bottom: 395px;
  bottom: 60px;
  border: none;
  @include position_center;
  background-color: map-get($transparent, _black);

  .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 15px;
    color: map-get($fontColor, _white);
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 20px;
    bottom: 10px;
    @include position_leftColumn;
    font-family: "Segoe UI";
    font-size: map-get($fontSize, _medium);
  }

  .usernamePost {
    width: 250px;
    background-color: transparent;
    position: relative;
    top: 10px;
    right: 85px;
    font-family: "Segoe UI";
    font-size: map-get($fontSize, _small);
    color: map-get($fontColor, _white);
  }

  .photoUser {
    @include rounded_border(90px, 40px, map-get($radiusSize, _medium));
    background-color: transparent;
    @include position_centerColumn;
    overflow: hidden;
    position: relative;
    left: 10px;
    border: 2px solid map-get($borderColor, _blue);

    img {
      width: 100%;
      height: 40px;
      border-radius: map-get($radiusSize, _small);
      @include no_underline_copy;
    }
  }
}

.fileUser {
  width: 100%;
  height: 400px;
  border-radius: map-get($radiusSize, _big);
  @include position_center;
  background-image: map-get($gradientColor, _white);
  overflow: hidden;
}

.contentImagen,
.contentVideo {
  width: 100%;
  max-height: 400px;
  @include no_underline_copy;
}

/*
.description {
  @include position_center;
  @include rounded_border(90%, 90px, map-get($radiusSize, _small));
  backdrop-filter: blur(5px);
  float: right;
  position: relative;
  bottom: 145px;
  right: 5%;
  padding: 0 1px;

  ::-webkit-scrollbar {
    @include rounded_border(2px, 2px, 50px);
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: map-get($radiusSize, small);
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: map-get($radiusSize, small);
    background-color: map-get($color, _blue);
  }
  p {
    margin: 0;
    padding: 0;
    color: map-get($fontColor, _black);
    @include rounded_border(100%, 90px, map-get($radiusSize, _small));
    overflow-y: scroll;
    font-family: "Segoe UI";
    font-size: map-get($fontSize, _medium);
  }
}
*/

div.topN {
  @include rounded_border(80px, 35px, map-get($radiusSize, _small));
  background-color: map-get($color, _eilish);
  font-family: "Segoe UI";
  font-weight: map-get($fontWeight, _small);
  @include position_center;
  margin-right: 5px;
}
