body {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  background-color: #fbfbfb; }

.left, .right {
  background-color: transparent;
  height: 100%;
  width: 20%;
  overflow-y: scroll;
  margin-right: 2px;
  position: fixed; }

.center {
  height: 100%;
  width: 60%;
  position: relative;
  left: 20%;
  background-color: transparent; }
  .center div.contentCenter {
    background-color: transparent;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative; }

.right {
  left: 80%;
  margin-left: 2px; }
  .right div.contentRigth {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    background-color: transparent;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: relative;
    padding-top: 30px;
    display: flex;
    flex-direction: column; }
    .right div.contentRigth div.title {
      margin: 0;
      width: 100%; }

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 50px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: transparent; }

.search {
  width: 100%;
  margin: auto;
  background-color: transparent;
  padding: 5px;
  margin-top: 15px;
  display: inline-flex; }

.DivGreeting {
  background-color: transparent;
  height: 35px;
  display: block;
  margin-right: 5px;
  width: 40%; }

.contentImgProfile {
  background-color: transparent;
  height: 40px;
  width: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.imgProfile {
  width: 40px;
  height: 40px;
  border-radius: 20px; }

.contentGreeting {
  position: relative;
  bottom: 35px;
  left: 45px;
  width: 100%; }

.word {
  font-family: "Segoe UI";
  font-weight: 500;
  font-size: 18px;
  color: #000; }

.wordEmphasis {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  color: #000; }

.contentSearch {
  background-color: #fff;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-box-shadow: 1px 0px 5px 3px map-get($borderColor, shadow_);
  -moz-box-shadow: 1px 0px 5px 3px map-get($borderColor, shadow_);
  box-shadow: 1px 0px 5px 3px map-get($borderColor, shadow_);*/ }
  .contentSearch input {
    border: none;
    background-color: transparent;
    color: #000;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none; }

.btnFilter {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /*-webkit-box-shadow: 1px 0px 5px 3px map-get($borderColor, shadow_);
    -moz-box-shadow: 1px 0px 5px 3px map-get($borderColor, shadow_);
    box-shadow: 1px 0px 5px 3px map-get($borderColor, shadow_);*/
  border: none;
  overflow: hidden;
  margin: 0 5px;
  margin-left: 30px; }

.follow {
  margin-top: 20px; }

.titleSection {
  margin-bottom: 15px; }
  .titleSection .word {
    font-size: 20px; }
  .titleSection .wordEmphasis {
    font-size: 25px; }

.artistFollow {
  display: inline-flex; }
  .artistFollow .contentImgProfile {
    margin: 0 1px;
    width: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .artistFollow .contentImgProfile .imgProfile {
      width: 50px;
      height: 50px;
      border-radius: 25px; }

.nameArtist {
  color: #949797;
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 600;
  text-transform: capitalize; }

.favAlbum {
  margin: auto;
  margin-top: 25px;
  width: 100%;
  display: inline-flex; }

.album {
  width: 30%;
  background-color: transparent; }

.contentAlbum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.contentImgAlbum {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  margin: 5px auto;
  position: relative;
  overflow: hidden; }

.imgAlbum {
  width: 250px;
  height: 300px;
  border-radius: 20px; }

.chipAlbum {
  float: left;
  background-color: #fff;
  color: #000;
  font-family: 'Segoe UI';
  position: relative;
  bottom: 40px;
  border-radius: 50px;
  margin-left: 10px;
  padding: 3px 5px; }

.music {
  width: 70%;
  background-color: transparent; }

.cardMusic {
  background-color: #fff;
  width: 96%;
  height: 55px;
  border-radius: 15px;
  margin: 15px auto;
  margin-top: 5px;
  padding: 5px;
  display: inline-flex;
  -webkit-box-shadow: 1px 0px 5px 3px #e4e5f1;
  -moz-box-shadow: 1px 0px 5px 3px #e4e5f1;
  box-shadow: 1px 0px 5px 3px #e4e5f1; }
  .cardMusic .contentImgProfile {
    height: 50px;
    background-color: transparent;
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background-color: transparent; }
  .cardMusic .imgProfile {
    width: 50px;
    height: 50px;
    border-radius: 25px; }

.infoMusic {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  margin-left: 3px; }

.nameMusic {
  font-weight: bold;
  font-family: 'Segoe UI';
  font-size: 20px; }

.breedingLine {
  background-color: transparent;
  position: relative;
  width: 20%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px; }

.timeMusic {
  font-size: 18px;
  font-family: 'Segoe UI';
  font-weight: 500; }

.btnPlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  background-color: transparent;
  position: relative;
  top: 6px;
  border: 1px solid #ccc; }
  .btnPlay .icon {
    color: #2a70eb; }

.contentLeft {
  margin-top: 15px;
  padding: 0 10px; }

.contentLogo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center; }
  .contentLogo .icon {
    float: left; }
  .contentLogo .logoText {
    font-family: 'Secular One', sans-serif; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px; }

.items {
  background-color: transparent;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  margin: 10px auto; }
  .items .icon {
    float: left;
    color: #999;
    position: relative;
    left: 20px;
    top: 5px; }
  .items .textItem {
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
    color: #999;
    position: relative;
    left: 25px;
    top: 5px; }
  .items:active {
    -webkit-box-shadow: 1px 0px 5px 3px #e4e5f1;
    -moz-box-shadow: 1px 0px 5px 3px #e4e5f1;
    box-shadow: 1px 0px 5px 3px #e4e5f1; }
    .items:active .icon {
      color: #000; }
    .items:active .textItem {
      color: #000; }
