.section-1:hover,
.section-3:hover {
  transform: translateY(-10px);
  border: var(--borderSize) solid #ccc;
  background-color: var(--contentHoverBg);
}

.section-4 .groupContentSection:nth-child(1):hover,
.section-6 .groupContentSection:nth-child(1):hover {
  transform: translateY(7px);
  background-color: var(--contentHoverBg);
  border: var(--borderSize) solid #ccc;
}

.section-5:hover {
  transform: translateY(-7px);
  background-color: var(--contentHoverBg);
  border: var(--borderSize) solid #ccc;
}

.section-4 .groupContentSection:nth-child(2):hover,
.section-6 .groupContentSection:nth-child(2):hover {
  transform: translateY(-7px);
  background-color: var(--contentHoverBg);
  border: var(--borderSize) solid #ccc;
}



@keyframes moveTitleMain {
  0% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}

@keyframes sun {
  10% {
    transform: translateY(220px);
  }
  25% {
    transform: translateX(-575px);
  }
  50% {
    transform: translateX(575px);
  }
  75% {
    transform: translateY(-230px);
  }
}

@keyframes Moon {
  10% {
    transform: translateY(-230px);
  }
  25% {
    transform: translateX(575px);
  }
  50% {
    transform: translateX(-575px);
  }
  75% {
    transform: translateY(230px);
  }
}

.madeBy:hover {
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(5%);
  animation: flicker steps(10) var(--interval) 1s infinite;
  color: azure;
  --color1: rgb(255, 252, 240);
  --color2: #8000ff;
  --color3: #5e06b5;
  --color4: #3f057a;
}
