body {
  background-color: var(--bodyBG);
  overflow: hidden;
}

section {
  height: 98%;
  overflow: hidden;
}

.boxBlur {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  display: flex;
  flex-direction: column;
}

.section-1,
.section-3 {
  background-color: transparent;
  border-radius: var(--borderRadiusSection);
  border: var(--borderSize) solid var(--colorBorderSection);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(var(--blur));
  background-color: var(--contentBG);
  transition: all 0.5s;
}

.section-2 {
  background-color: transparent;
}

.section-4,
.section-6 {
  height: 90.5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.section-5 {
  height: 90.5%;
  border-radius: var(--borderRadiusSection);
  border: var(--borderSize) solid var(--colorBorderSection);
  overflow: hidden;
  backdrop-filter: blur(var(--blur));
  background-color: var(--contentBG);
  transition: all 0.5s;
}

.contentSection {
  background-color: transparent;
  height: 90%;
  overflow-y: auto;
}

.contentSection .boxList {
  height: auto;
}

.groupContentSection {
  background-color: var(--contentBG);
  border-radius: var(--borderRadiusSection);
  border: var(--borderSize) solid var(--colorBorderSection);
  height: 50%;
  overflow: hidden;
  padding-top: 10px;
  backdrop-filter: blur(var(--blur));
  transition: all 0.5s;
}

.boxPicture {
  background-color: transparent;
  width: 100%;
  height: auto;
  padding-inline: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.5s;
}

.boxPicture-img {
  border-radius: 10px;
  cursor: zoom-in;
  color: #fff;
}

.groupContentSection .boxPicture {
  object-fit: scale-down;
  height: 40%;
  width: auto;
}

.Footer {
  background-color: transparent;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
