body {
  background-color: var(--bodyBG);
  overflow: hidden;
}

section {
  height: 98%;
  overflow: hidden;
}

.boxBlur {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
}

.section-1,
.section-3 {
  background-color: transparent;
  border-radius: var(--borderRadiusSection);
  border: var(--borderSize) solid var(--colorBorderSection);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(var(--blur));
  background-color: var(--contentBG);
}

.section-2 {
  background-color: transparent;
}

.section-4,
.section-6 {
  height: 90.5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.section-5 {
  height: 90.5%;
  border-radius: var(--borderRadiusSection);
  border: var(--borderSize) solid var(--colorBorderSection);
  overflow: hidden;
  backdrop-filter: blur(var(--blur));
  background-color: var(--contentBG);
}

.contentSection {
  background-color: transparent;
  height: 90%;
  overflow-y: auto;
}

.contentSection .boxList {
  height: auto;
}

.groupContentSection {
  background-color: var(--contentBG);
  border-radius: var(--borderRadiusSection);
  border: var(--borderSize) solid var(--colorBorderSection);
  height: 50%;
  overflow: hidden;
  padding-top: 10px;
  backdrop-filter: blur(var(--blur));
}

.boxPicture {
  background-color: transparent;
  width: 100%;
  height: auto;
  padding-inline: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.5s;
}

.boxPicture:hover{
  transform: translateY(-8px);
}

.boxPicture-img {
  border-radius: 10px;
  cursor: zoom-in;
}

.groupContentSection .boxPicture {
  object-fit: scale-down;
  height: 8rem;
  width: auto;
}

.boxList {
  background-color: transparent;
  width: 100%;
  height: 95%;
  overflow-y: auto;
  display: none;
}

.boxList-ul {
  width: 100%;
  padding-inline: 10px;
}

.Blur {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000069;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  display: none;
}

.Blur .Navigation-buttonMenu {
  top: 3%;
}

.Blur .Navigation-buttonMenu:active {
  border: 3px solid #f1c40f;
}

.Blur-container {
  min-height: 80%;
  max-height: 90%;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.Blur-container-img {
  width: auto;
  height: auto;
  object-fit: scale-down;
}

.Navigation-buttonMenu {
  position: fixed;
  top: 1%;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  background-color: #e5e5e5;
}


.Navigation-buttonMenu-lineClose {
  height: 4px;
  border-radius: 10px;
  width: 80%;
  background-color: #2a394e;
  margin-block: 2px;
}

.Navigation-buttonMenu .Navigation-buttonMenu-lineClose:nth-child(1) {
  background-color: var(--cabaret)
}


.Navigation-buttonMenu .Navigation-buttonMenu-lineClose:nth-child(2) {
  background-color: var(--cabaret);
}

.Navigation-buttonMenu .Navigation-buttonMenu-lineClose:nth-child(1) {
  position: relative;
  top: 5px;
  transform: rotate(50deg);
}

.Navigation-buttonMenu .Navigation-buttonMenu-lineClose:nth-child(2) {
  position: relative;
  bottom: 3px;
  left: 1px;
  transform: rotate(-50deg);
}