.title,
.subTitle {
  width: 100%;
  background-color: transparent;
  min-height: 8%;
  max-height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title-h1 {
  font-family: 'Gugi', cursive;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--colorTitle);
  *animation: moveTitleMain linear 2000ms infinite; 
}

.subTitle-h2 {
  font-family: 'Capriola', sans-serif;
  text-transform: capitalize;
  color: var(--colorSubTitle);
}

.boxText {
  background-color: transparent;
  width: 100%;
  padding-inline: 8px;
  overflow-y: auto;
  display: none;
}

.boxList {
  background-color: transparent;
  width: 100%;
  max-height: 95%;
  overflow-y: auto;
  display: none;
}

.boxList-ul {
  width: 100%;
  padding-inline: 10px;
}

.groupContentSection .subTitle-h2 {
  font-size: 1.2rem;
}

.boxText-p,
.boxList-ul li {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: var(--colorText);
  cursor: default;
  line-height : 25px;
}

.boxList-ul li {
  margin-block: 10px;
}

.madeBy{
  font-family: "Capriola", sans-serif;
  font-size: 20px;
  color: var(--colorTitle);
  text-decoration: none;
}
