.fullView {
  background-color: var(--bgFullView);
  width: 80rem;
  height: 39rem;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  display: none;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: var(--borderRadiusSection);
}

.fullView-picture,
.fullView-boxtText {
  padding: 10px;
}

.fullView-boxtText {
  background-color: transparent;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  overflow-y: auto;
}

.fullView-picture {
  background-color: transparent;
  display: flex;
  height: 37rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  display: none;
}

.fullView-picture-img {
  border-radius: 10px;
  object-fit: cover;
  width: auto;
  height: 37rem;
  box-shadow: 5px 5px 5px var(--boxSahdowFullView);
  transition: all 0.5s;
}
.fullView-boxtText .subTitle{
  border-bottom: 1px solid var(--borderColorCard);
  margin-bottom: 15px;
}

.fullView-boxtText .subTitle-h2 {
  text-align: left;
  color: var(--fullViewSubTitle);
}

.fullView-boxtText .contentSection {
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

.fullView-boxtText .boxText-p,
.fullView-boxtText .boxList-ul li {
  font-size: 18px;
  color: var(--fullViewText);
}

.fullView-boxtText .boxText-p {
  height: auto;
}

.fullView-boxtText .boxText {
  height: auto;
}

.fullView-boxtText .boxList {
  height: auto;
  width: 99%;
  margin: auto;
  overflow: visible;
  margin-block: 10px;
}


.card {
  padding: 10px;
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--bgCard);
  box-shadow: 5px 5px 5px var(--boxSahdowFullView);
  border: 1px solid var(--borderColorCard);
  overflow-y: auto;
  border-radius: 10px;
  transition: all 0.5s;
}

.card:hover {
  transform: translateY(-15px);
  border: 1px solid #36bc9bac;
  box-shadow: 5px 5px 5px #36bc9bac;
}

.fullView-grid-3 .card:nth-child(2):hover {
  border: 1px solid #ff0745ac;
  box-shadow: 5px 5px 5px #ff0745ac;
}

.fullView-grid-3 .card:nth-child(3):hover {
  border: 1px solid #ffc107ac;
  box-shadow: 5px 5px 5px #ffc107ac;
}

.fullView-grid-3 .card:nth-child(1) .subTitle-h2 {
  color: var(--keppek);
  font-size: 20px;
}

.fullView-grid-3 .card:nth-child(2) .subTitle-h2 {
  color: var(--cabaret);
  font-size: 20px;
}

.fullView-grid-3 .card:nth-child(3) .subTitle-h2 {
  color: var(--casablanca);
  font-size: 20px;
}

.grid-2{
  display: grid;
  grid-template-columns: 45% 45%;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  display: none;
}