:root{
    --bodyBG: #000;
    --colorBorderSection: #fff;
    --borderRadiusSection: 20px;
    --borderSize:3px;
    --colorText: #fff;
    --colorSubTitle: #fff;
    --colorTitle: #ffff;
    --blur: 1.2rem;
    --contentBG:#00000063;
    --cabaret: #ff0745;
}