:root {
  --bodyBG: #000;
  --colorBorderSection: #fff;
  --borderRadiusSection: 15px;
  --borderSize: 3px;
  --colorText: #fff;
  --colorSubTitle: #fff;
  --colorTitle: #fff;
  --blur: 1.2rem;
  --contentBG: #ffffff39;
  --cabaret: #ff0745;
  --fullViewText: #ccc;
}

/*#000000b3*/
