.sectionBrowser{
    background-color: transparent;
    width: 80%;
    padding: 0 10px;
    margin-right: 10px;
}

.sectionAutor{
    background-color: transparent;
    width: 20%;
}

.contentMiniBook{
    background-color: transparent;
    height: 100%;
    padding: auto;
    width: 90%;
    margin: auto;
}

.miniCard{
    background-color: map-get($colorBackground,miniBook);
    @include rounded_border(300px, 200px, 10px);
    padding: 10px;
    display: inline-flex;
    margin: 15px;
   
    .contentBook{
        @include rounded_border(150px, 200px, 10px);
        .book{
            @include rounded_border(150px, 200px, 10px);

        }
    }

    .infBook{   
        width: 200px;
        .titleBook{
            font-size: 20px;
            color: map-get($colorText, text);
        }
        .nameAutor{
            color: map-get($colorText, text);
        }
    }
    .contentStar{
        width: 120px;
        .star{
            color:#ccc;
            &:active{
                color: #0055FF;
              }
        }
    }

    &:active{
        -webkit-box-shadow: 1px 0px 5px 3px map-get($colorBackground, shadowBookMini);
        -moz-box-shadow: 1px 0px 5px 3px map-get($colorBackground, shadowBookMini);
        box-shadow: 1px 0px 5px 3px map-get($colorBackground, shadowBookMini);
    }
}

.contentAuthor{
    background-color: transparent;
    @include position_leftColumn;
    .userPhoto{
        margin: 0;
        margin: 10px 0;
        .photo{
            @include rounded_border(40px, 40px, 20px);

        }
        label{
            margin-left: 10px;
        }
    }
}