:root {
    --background-color: #f3f4f6;
    --text-color: #333;
    --primary-color: #45a049;
    --secondary-color: #2c3e50;
    --input-background-color: white;
    --input-border-color: #ddd;
    --button-hover-color: #3e8e41;
    --command-box-background: #f4f4f4;
    --command-box-hover: #d4edda;
}
/*
@media (prefers-color-scheme: dark) {
    :root {

        --background-color: #1e1e1e;
        --text-color: #e0e0e0;
        --primary-color: #88c379;
        --secondary-color: #f1f1f1;
        --input-background-color: #333;
        --input-border-color: #555;
        --button-hover-color: #76b767;
        --command-box-background: #2e2e2e;
        --command-box-hover: #447744;
    }
}*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 50px;
    background-color: var(--background-color);
    color: var(--text-color);
}

h2 {
    color: var(--secondary-color);
}

label {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--input-background-color);
    border: 2px solid var(--input-border-color);
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color)
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

select {
    padding: 5px;
    font-size: 1rem;
}


button {
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}

.container {
    display: flex;
    justify-content: space-between;
}

form {
    flex: 1;
    max-width: 60%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

.tab {
    padding-block: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    overflow-x: auto;
    gap: 1rem;
}

.tab button {
    background-color: transparent;
    float: left;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    border: 2px solid var(--primary-color);
    color: #599c5c;
}

.tab button:hover {
    background-color: #45a0496c;
    color: #fff;
}

.tab button.active {
    background-color: var(--primary-color);
    color: #fafafa;
}

.tabcontent {
    display: none;
    border-top: none;
    padding: 20px;
}

.tablinks {
    font-weight: bold;
    font-size: 1rem;
}

.separator {
    border: none; 
    height: 2px;
    background-color: #ccc;
    margin: 50px 0; 
}

.command-box {
    background-color: var(--command-box-background);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Estilo que se aplicará al copiar */
.copiado {
    background-color: var(--command-box-hover) !important;
}

.comandoLabel {
    color: var(--primary-color);
    margin-right: 8px;
    font-weight:bolder;
}

.command-box p {
    margin: 0;
    flex-grow: 1;
}

.command-box button {
    margin-left: 10px;
}

.underline {
    text-decoration: underline;
}

/* Estilos para posicionar el contenedor al lado derecho */
.inicializadorComandos {
    flex: 0.35;
    margin-left: 20px;
}

/* Responsividad */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    form,
    .inicializadorComandos {
        max-width: 100%;
        margin-left: 0;
    }
}

.boxName {
    /*background: #DCE35B;
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    background: linear-gradient(to right, #45B649, #DCE35B);
    height: 20%;
    border-radius: 1rem;
    margin-block: 1rem;
    padding-inline: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;*/
    display: none;
}



.boxName label {
    width: 100%;
    text-align: start;
    color: #fff;
}

.boxName h1 {
    color: #fff;
  
    text-align: center;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    margin: 0;
    border-radius: 0;
   /* Ajusta el padding según sea necesario */
    height: auto;
    backdrop-filter: blur(5px); /* Desenfoque del fondo */
    background: rgba(69, 160, 73, 0.37); ;/* Fondo blanco semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed label{
    display: none;
}

.fixed h1{
    color: #000000;
    margin-block: .625rem;
    padding: 0;
}

select {
    display: inline-block; /* Para que el select ocupe el espacio correcto */
    width: 200px; /* Ajusta el ancho según lo necesites */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    border: 2px solid var(--input-border-color); /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    background: var(--input-background-color); /* Fondo */
    color: var(--text-color); /* Color del texto */
    appearance: none; /* Eliminar el estilo por defecto */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>'); /* Flecha personalizada */
    background-repeat: no-repeat; /* No repetir la flecha */
    background-position: right 10px center; /* Posición de la flecha */
    background-size: 16px; /* Tamaño de la flecha */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

select:focus {
    outline: none; /* Eliminar el borde de enfoque predeterminado */
    border-color: #45B649; /* Cambiar el color del borde en foco */
    box-shadow: 0 0 5px rgba(69, 182, 73, 0.5); /* Sombra en foco */
}
