div.popular {
  background-color: red;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: 350px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }

div.contentPopular {
  background-color: blue;
  width: 50%;
  height: 325px;
  border-radius: 15px;
  margin: auto 5px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  overflow: hidden; }

div.title {
  margin: 0;
  padding: 0;
  background-color: gray; }

div.infoUser {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  overflow: hidden;
  background-color: green; }
  div.infoUser .username {
    position: relative;
    top: 20px;
    right: 65px; }

div.post {
  background-color: yellow;
  width: 50%;
  height: 325px;
  border-radius: 15px; }
