$gradientColor: (
  _white:
    radial-gradient(
      circle at 49.65% 49.65%,
      #ffffff 0,
      #ffffff 16.67%,
      #fffffe 33.33%,
      #f5efef 50%,
      #d9dfdf 66.67%,
      #c1d1cf 83.33%,
      #adc5bf 100%
    ),
);

$colorText: (
  logo: #0055FF,
  text: #000,
  white_: #fff,
);

$colorBackground: (
  search: #fff,
  header_: #fff,
  cardBook:radial-gradient(circle at 87.5% 12.5%, #ad86ff 0, #6d6eff 25%, #0054ff 50%, #003bcd 75%, #00269e 100%),
  colorBackground: #ccc,
  shadowBook:#ccc,
  shadowBookMini:#C9B5F2,
  miniBook:#fff,
);

