body {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;

}

.left {
  background-color: transparent;
  height: 585px;
  width: 25%;
  overflow-y: scroll;
  margin: 5px;
  //background-color: green;
  //position: fixed;
}

.center {
  width: 50%;
  height: 100%;
  background-color: transparent;
  div.contentCenter {
    @include rounded_border(100%, auto, map-get($radiusSize, _medium));
    margin: auto;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    @include no_underline_copy;
    position: relative;
    padding-top:30px; 
  }
}

.right {
  @extend .left;
  //background-color: blue;
}
::-webkit-scrollbar {
  @include rounded_border(2px, 2px, 50px);
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: map-get($radiusSize, small);
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: map-get($radiusSize, small);
  background-color: transparent;
}
